.uncheckedbtn,.checkedbtn{
    --slds-c-button-neutral-color-border : #B2B2B2;
}
.agreebtn{
    --slds-c-input-color-border : #B2B2B2;
}
.modal_content_container{
    padding: 10px 60px 60px 60px;
    line-height: 1.3;
}
.header_text{
    font-weight: bold;
}
.agree_text{
    color: #808285;
    opacity: 1;
}